body {
    background-image: url(img1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general {
    height: max-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-link {
    color: white;
}

.aa {
    color: white;
    text-align: center;
}

.lign1 {
    background-color: red;
    margin-left: 40%;
    margin-right: 40%;
    height: 8px;
}

.lign2 {
    background-color: red;

    height: 3px;
}

.card-title {
    color: white;
    text-align: center;

}

.card-img {
    width: 355px;
    height: 200px;
}

.card {
    background-color: transparent;
    border-radius: 10px;
}

.MOis1 {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.tout {
    color: white;
}

h1 {
    text-align: center;
}

.cl {
    color: white;
    text-align: center;
}

.b1 {
    background-color: yellow;
    height: 5px;
}

.b2 {
    background-color: green;
    height: 5px;
}

.b3 {
    background-color: violet;
    height: 5px;
}

.b4 {
    background-color: red;
    height: 5px;
}

.b5 {
    background-color: blue;
    height: 5px;
}

.trr {
    background-color: red;
    width: 3px;
    height: 500px;
    margin: 25px;
}

.gg {
    display: flex;
}

.trr span {
    display: block;
    height: 40px;
    width: 40px;
    background-color: red;
    position: relative;
    border-radius: 50px;
    margin-left: -19px;
    top: 100px;
}

.trr .sp {
    margin-top: 200px;
    background-color: green;
}
